@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
:root {
  --theme: #ff4500;
  --background : #2d3939 ; 
  --text : #fff; 
  --loading : url('./assets/loading_light.svg' )  ;
  
}
