
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
:root {
  --theme: #ff4500;
  --background : #2d3939 ; 
  --text : #fff; 
  --loading : url('../img/loading_light.svg' )  ;
  
}
.loading {
  background: no-repeat center  var(--loading);
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #2d3939;
  
}
/*   Navigation  */
.navbar-toggler i{
  color: var(--theme);

}
nav ul li a {
  font-size: 1.3em;}
nav {
    border-bottom: 2px solid var(--theme);
   /* box-shadow: rgba(255, 69, 0, 0.75) 0px 1px 3px;*/
}
nav > div > a > span > span{
    color: var(--theme) !important;
}
.navbar-light .navbar-brand:hover  {
    color: var(--text);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
    color: var(--text);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--theme);
}
.navbar-light .navbar-brand {
    color: var(--text);
}
/* logo */ 

svg {
    font-family: 'Oleo Script', cursive;
    font-weight: 600;
}

.navbar-light .navbar-toggler {
    border-color: var(--text);
}
/* footer */ 
footer a , footer i {
    color: var(--text);
    text-decoration: none;
    font-size: larger;
}
footer:hover a {
    color: var(--theme);
}
footer:hover i {
    color: var(--theme);
}
footer {
    color : var(--text) ; 
    border-top: 2px solid var(--theme);
    /* box-shadow: rgba(255, 69, 0, 0.75) 0px 1px -10px;*/
}

/*
::-webkit-scrollbar {
    width: 5px;
  }
  

  ::-webkit-scrollbar-track {
    background: var(--background); 
  }
   

  ::-webkit-scrollbar-thumb {
    background: var(--text); 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: var(--text); 
  }
*/
  
/* card */ 
  .card {
      border: none;
      margin-top: 3rem !important ;
      margin-bottom: 3rem !important;
  }
  .card:hover {
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both; 
    
  }
  
  .card-body  a {
      font-size: 1.2em;
  }
  .card-body  a:hover {
    color: var(--theme);
    font-weight: bolder;
}

.card-body  span:nth-child(1):hover{
  color: var(--theme);
  font-weight: bold;
}

.card-body .btn {
   
    display: inline;
}
.card-body {
  
    padding: .2rem 0 0 0;
}
.card {
    background-color: transparent;
}
.card-body  a {
    color : var(--text);
}
#stat{
  color:var(--text);
  font-size: 1.3em;
}
#stat strong{
  color:var(--theme);
}
#stat span{
  width: 22%;
  padding: 1.5em;
  border: 1px solid var(--text);
  border-radius: 15px;
}
#stat span:hover{

  border: 1px solid var(--theme);
}
#cover {
  /* The image used */
  background-image: url("https://raw.githubusercontent.com/Chiheb-Edine-Zoghlemi/Wall_papers/main/sinister-shack-image-1920%C3%971080.jpg");

  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* modal */ 
.modal-header a i  {
  color: var(--text);
}
.modal-content{
  background-color: var(--background);
}
/* input */ 
input[type="color" i] {
  appearance: auto;
  width: 44px;
  height: auto;
  border: none;
  background-color: transparent;
}
.form-control-color {

  padding-top: 0.65em ; 
}
.form-control:focus {
  color: var(--background);
  background-color: transparent;
  border-color:none;
  outline: none;
  box-shadow: none ;
}
/* button */ 
.btn-check:focus+.btn, .btn:focus {
  outline: none;
  box-shadow:none;
}
.more_data {
  border: 1px solid var(--text);
  width: 15%;
  color: var(--theme);
  background-color:var(--background);
}
.card-body{
  color: var(--text);
  font-size: large;
}
.more_data:hover {
  color: var(--text);
  border: 1px solid var(--theme);
  background-color:var(--theme);
}
/* animation */ 
 @-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme);
              box-shadow: 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme);
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px var(--theme), 2px -2px var(--theme), 3px -3px var(--theme), 4px -4px var(--theme), 5px -5px var(--theme), 6px -6px var(--theme), 7px -7px var(--theme), 8px -8px var(--theme);
              box-shadow: 1px -1px var(--theme), 2px -2px var(--theme), 3px -3px var(--theme), 4px -4px var(--theme), 5px -5px var(--theme), 6px -6px var(--theme), 7px -7px var(--theme), 8px -8px var(--theme);
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme);
              box-shadow: 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme), 0 0 var(--theme);
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px var(--theme), 2px -2px var(--theme), 3px -3px var(--theme), 4px -4px var(--theme), 5px -5px var(--theme), 6px -6px var(--theme), 7px -7px var(--theme), 8px -8px var(--theme);
              box-shadow: 1px -1px var(--theme), 2px -2px var(--theme), 3px -3px var(--theme), 4px -4px var(--theme), 5px -5px var(--theme), 6px -6px var(--theme), 7px -7px var(--theme), 8px -8px var(--theme);
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
